
form {
    color: #fff !important;
    background-color: #0d0d0d !important;
    font-size: 18px;
    font-family: 'Inter' !important;
}
form label {
    color: #FF9F0D !important;
}
.form-group{
    padding: 10px !important;
}
.row{
    padding: 10px !important;
}
.form-control{
    color: #fff !important;
    background-color: #0d0d0d !important;
}
.form-control::placeholder{
    color: #c4c4c4 !important;
}

#submit{
    background-color: #FF9F0D !important;
    border: none !important;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
#form2{
    width:800px;
    margin-left: 250px;
}