#table{
    color: white !important;
}

.form-control
{
    background-color: #0d0d0d !important;
    color: #fff !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #FF9F0D !important;
}