.body,html{
    margin:0;
    padding: 0;
    background-color: #0D0D0D;
}
.home_section{
    height: 580px;
    background-image: url(../images/home-background.jpg);
    background-size: cover;
    position: relative;
}
.layer{
    background-color: rgba(13, 13, 13, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
}
.slider-wrap{
    background-color: #0D0D0D;
    height: 500px;
    display: table;    
    position: relative;
    margin: auto;
}
.slider0-wrap{
    
    height: 500px;
    display: table-cell;
    position: relative;
}
.slider0{
    display: table;
}
.next-button{
    color: #BDBDBD;
 
    width: 50px;
    height: 50px;
    background: rgba(255, 159, 13, 0.3);
    border-radius: 4px;
    position: relative;
}
.next-button:hover{
    background-color: #FF9F0D;
    color: #FFF;
}
.button-wrap-next{
    vertical-align:top;
    padding-top: 220px;
    padding-right: 50px;
    padding-left: 50px;
    display: table-cell;
}
.button-wrap-prev{
    vertical-align: top;
    padding-top: 220px;
    margin-left: 50px;
    display: table-cell;
}
.next-button i{
  position: absolute;
  top: 33%;
  left:35%;
  
}
.text-wrap{
    display: table-cell;
    padding: 20px 80px;
    vertical-align:top;
}
.category{
    padding-top: 50px;
    padding-left: 20px;
    font-family: 'Great Vibes';
    font-size: 48px;
    line-height: 40px;
    color: #FF9F0D;
}
.category a{
    text-decoration: none;
    color: #FF9F0D;
}
.slogan{
    padding-top: 50px;
    padding-left: 20px;
    font-family: 'Great Vibes';
    font-size: 26px;
    line-height: 40px;
    color: #FF9F0D;
}
.title{
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    width: 380px;
    display: inline-block;
    color:#fff;
    padding: 20px;
    
}
.description{
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    width: 400px;
    font-size: 14px;
    line-height: 24px;
    color:#FFF ;

}
.info{
    padding-top: 20px;
    padding-left: 20px;
    display: table;
    font-size: 14px;
    line-height: 24px;
    color:#FFF ;

}
.calories{
    display: table-cell;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#FFF ;
    font-weight: 300;
    padding-right: 30px;

}
.calories i{
    color: #FF9F0D;
    padding-right: 10px;
}
.time{
    display: table-cell;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#FFF ;
    font-weight: 300;
    padding-right: 30px;
}
.time i{
    color: #FF9F0D;
    padding-right: 10px;
}
.level{
    display: table-cell;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#FFF ;
    font-weight: 300;

}
.level i{
    color: #FF9F0D;
    padding-right: 10px;
}
.readmore{
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background: #FF9F0D;
    border-radius: 30px;
    border: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}
.readmore:hover{
    background:#FAF7F2;
    color: #FF9F0D;
    font-weight: 700;
}
.img{
    display: table-cell;
    vertical-align:baseline;
    margin-top: 70px;
    padding-top: 70px;
    margin-right: 100px;
}
.img1{
    display: table-cell;
    vertical-align:top;
    margin-top: 50px;
    padding-top: 50px;
    margin-right: 100px;
}
.img1 img{
    height: 420px;
    width: 560px; 
    object-fit: cover;
}
.img img{
    object-fit: cover;
    height: 350px;
    width: 400px;
}

.slider-item {
    display: none;
  }
  .slider0-item {
    display: none;
  }
  .slider1-item {
    display: none;
  }
  .slider2-item {
    display: none;
  }
  .slider3-item {
    display: none;
  }
  
  .pagination {
    display: flex;
    position: absolute;
    bottom: 0;
    right:50%;
    padding:  20px 0;
    
    
  }
  .pagination-item {
    display: inline-block;
    background: #BC9A6C;
    border-radius: 50%;
    width: 10px;
    height:10px;
    margin: 2px;
    cursor: pointer;
  }
  .pagination1-item {
    display: inline-block;
    background: #BC9A6C;
    border-radius: 50%;
    width: 10px;
    height:10px;
    margin: 2px;
    cursor: pointer;
  }
  .pagination2-item {
    display: inline-block;
    background: #BC9A6C;
    border-radius: 50%;
    width: 10px;
    height:10px;
    margin: 2px;
    cursor: pointer;
  }
  .pagination3-item {
    display: inline-block;
    background: #BC9A6C;
    border-radius: 50%;
    width: 10px;
    height:10px;
    margin: 2px;
    cursor: pointer;
  }
  .pagination-item.active {
    background: #FF9F0D;
  }
  .pagination1-item.active {
    background: #FF9F0D;
  }
  .pagination2-item.active {
    background: #FF9F0D;
  }
  .pagination3-item.active {
    background: #FF9F0D;
  }
  .socials-menu{
    width:20px;
    padding-left: 140px;
    padding-top: 20px;
    vertical-align: top;
    display: table-cell;
    
  }
  .socials div{
    padding: 10px 0 ;
  }
  .socials div a{
    color: #FFF;
  }
  .socials div a:hover{
    color: #FF9F0D;
  }
#twitter{
    color: #FF9F0D;
}
#twitter:hover{
    color: #FFF;
}
  .socials-line{
    margin: 20px 5px;
    height: 140px;
    border-left: 1px solid #FFF;
}



